<!doctype html>
<html lang="en-US" ng-app="tv">
<head>
  <meta charset="UTF-8">
  <title>TV PhD</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="js/tv.js"></script>
</head>
<body ng-controller="TVController">
  <div class="container">
    <div class="row">
      <div class="span8`">
         <ul>
        <li ng-repeat="tv in tvs">
        {{tv.name}}
        <p>{{tv.summary}}</p>
        </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>